.movie {
    border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 32px;
    min-width: 400px;
}


.movie .header {
    background: lightskyblue;    
    display: flex;
}

.movie .title {
    margin: 0;
    padding: 8px;
    flex: 1;
}

.movie .deleteButton {
    background: 0;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    transition: background 0.8s;
}

.movie .deleteButton:hover {
    background: rgba(200, 200, 200, 0.7);
}

.movie .content {
    display: flex;
}

.movie .description {
    text-align: left;
    padding: 16px;
    margin: 0;
}

